<tr id=<%= dom_id task %> class='row <%= task.status %>'>
  <td><p><%= task.name %></p></td>
  <td><p><%= task.status %></p></td>
  <td><%= link_to edit_project_task_path(task.project, task ), remote: true, :class => 'delete_task' do %>
        <i class="glyphicon glyphicon-pencil pencil"></i>
      <% end %>
  </td>
  <td><%= link_to [task.project, task], remote: true, method: :delete, data: { confirm: 'Are you sure?' } do %>
        <i class="glyphicon glyphicon-trash trash"></i>
      <% end %>
  </td>
</tr>
