<div class='container'>
<h1 class="text-center">SIMPLE TODO LIST</h1>
<% if user_signed_in? %>
  <div class='wellcome-message'>
    <span>Hello, <%= current_user.email %></span>
    <%= link_to 'Sing out', destroy_user_session_path, :method => :delete %>
  </div>

  <%= select_tag(:filter, options_for_select([['none', 'none'],
   ['all iniq statuses', 'statuses'],
   ['count all tasks in each project', 'count-tasks'],
   ['count all tasks in each project order by projects name', 'count-tasks-order-name'],
   ['tasks for all projects having the name beginning with “N” letter', 'tasks-n'],
   ['list of all projects containing the ‘a’ letter in the middle of the name', 'projects-a'],
   ['list of tasks with duplicate names, asc', 'tasks-dup'],
   ['list of tasks GARAGE with mathes', 'tasks-garage'],
   ['list of project names having more than 10 tasks in status ‘done’', 'tasks-ten-done']
    ]), :onchange=>'filter(this)') %>

  <div id='filter-block'>
  </div>

    <div id='new_project' class='text-center'>
      <%= link_to 'Add TODO List', new_project_path , remote: true, :class => "btn btn-primary"  %>
    </div><br>

    <div id='projects'>
      <% @projects.each do |project| %>

      <div id=<%= dom_id project %>>
          <div class='text-center navbar-default project-head'>
            <%= project.name %>
            <%= link_to 'Delete', project_path(project), remote: true,
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
            <%= link_to 'Edit', edit_project_path(project), remote: true %>
          </div>

          <div class='text-center navbar-default' id='new_task_<%= dom_id project %>'>
          <%= form_for([project, @task], remote: true) do |f| %>
              <%= f.text_field :name %>
              <%= f.select :status, options_for_select([['new', 'new'] , ['in_process', 'in_process'] ,['done', 'done']]) %>
              <%= f.submit %>
          <% end %>
          </div>
          <table id='tasks_<%= dom_id project %>' class='table table-hover'>
            <% unless project.tasks.empty? %>
            <% project.tasks.each do |task| %>
              <tr id=<%= dom_id task %> class='row'>
                <td><h3><%= task.name %></h3></td>
                <td><h3><%= task.status %></h3></td>
                <td><%= link_to 'Edit', edit_project_task_path(task.project, task ), remote: true, :class => 'delete_task' %></td>
                <td><%= link_to 'Delete', [task.project, task], remote: true,
                  method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
            <% end %>
        </table><br>
    </div>
    <% end %>
    </div>
    </div>

<% else %>
    <%= link_to 'Войти', new_user_session_path %> или <%= link_to 'Зарегистрироваться', new_user_registration_path %>
<% end %>
