<h1>Projects</h1>

<% @projects.each do |project| %>
<div>
  <p><%= project.name %></p>
</div>

  <% unless project.tasks.empty? %>
  <table>
    <% project.tasks.each do |task| %>
    <tr>
      <td><%= task.name %></td>
      <td><%= task.status %></td>
      <td><%= link_to 'Edit', edit_project_task_path(task.project, task ), remote: true %></td>
      <td><%= link_to 'Delete', [task.project, task], remote: true,
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </table>
<% end %>

<% end %>
