<h1>Projects</h1>

<div class='container'>
<div id='new_project'>
  <%= link_to 'New Project', new_project_path , remote: true%>
</div>

<% @projects.each do |project| %>
  <div id='projects'>
    <div id=<%= dom_id project %>>
      <%= project.name %>
      <%= link_to 'Delete', project_path(project), remote: true,
            method: :delete,
            data: { confirm: 'Are you sure?' } %>
      <%= link_to 'Edit', edit_project_path(project), remote: true %>

      <%= form_for([project, @task], remote: true) do |f| %>
        <p>
          <%= f.label :name %><br>
          <%= f.text_field :name %>
        </p>
        <p>
          <%= f.label :status %><br>
          <%= f.select :status, options_for_select([['new', 'new'] , ['in_process', 'in_process'] ,['done', 'done']]) %>
        </p>
        <p>
          <%= f.submit %>
        </p>
        <% end %>

    </div>
  </div>

<% unless project.tasks.empty? %>
<div id='edit_task'></div>
  <table id='tasks'>
    <% project.tasks.each do |task| %>
    <tr id=<%= dom_id task %>>
      <td><%= task.name %></td>
      <td><%= task.status %></td>
      <td><%= link_to 'Edit', edit_project_task_path(task.project, task ), remote: true, :class => 'delete_task' %></td>
      <td><%= link_to 'Delete', [task.project, task], remote: true,
              method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </table>
<% end %>

<% end %>
</div>
