<div id=<%= dom_id project %>>
  <div class='text-center navbar-default project-head'><%= project.name %>
  <%= link_to 'Delete', project_path(project), remote: true,
        method: :delete,
        data: { confirm: 'Are you sure?' } %>
  <%= link_to 'Edit', edit_project_path(project), remote: true %>
  </div>

  <div class='new_task text-center navbar-default' id='new_task_<%= dom_id project %>'>
  <%= form_for([project, @task], remote: true) do |f| %>
      <%= f.text_field :name %>
      <%= f.select :status, options_for_select([['new', 'new'] , ['in_process', 'in_process'] ,['done', 'done']]) %>
      <%= f.submit %>
  <% end %>
  </div>
