<p>
  <%= @project.id %>. <strong><%= @project.name %></strong>
</p>

<h3>Add a task:</h3>

<% if @task.errors.any? %>
  <div id="error_explanation">
    <h3>
      <%= pluralize(@task.errors.count, "error") %> prohibited
      this task from being saved:
    </h3>
    <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for([@project, @project.tasks.build]) do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :status %><br>
    <%= f.select :status, options_for_select([['new', 'new'] , ['in_process', 'in_process'] ,['done', 'done']]) %>
  </p>
  <p>
    <%= f.submit %>
  </p>
  <% end %>

  <h2>All Tasks in this project</h2>
  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Status</th>
      <th colspan="3">Action</th>
    </tr>

    <% @project.tasks.each do |task| %>
      <tr>
        <td><%= task.id %></td>
        <td><%= task.name %></td>
        <td><%= task.status %></td>
        <% unless task.id.nil? %>
        <td><%= link_to 'Edit', edit_project_task_path(task.project, task ) %></td>
        <td><%= link_to 'Delete', [task.project, task],
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
      <% end %>
      </tr>
    <% end %>
  </table>
